@font-face {
  font-family: 'IBMPlexSerif';
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/IBMPlexSerif-Text.woff2') format('woff2');
}
@font-face {
  font-family: 'IBMPlexSerif';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/IBMPlexSerif-TextItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Khmer MN';
  src: url('/fonts/KhmerMN.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Khmer MN';
  src: url('/fonts/KhmerMN.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}